include *.md
include *.txt
include Makefile
include mypy.ini
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include tests *.qasm

exclude .pre-commit-config.yaml
exclude mypy.ini
exclude ruff.toml
