build==1.0.3
mypy==1.8.0
networkx==2.8.8
phir==0.2.1
pre-commit==3.6.0
pydata_sphinx_theme==0.15.2
pytest==7.4.4
pytket==1.24.0
ruff==0.1.14
setuptools_scm==8.0.4
sphinx==7.2.6
wasmtime==16.0.0
wheel==0.42.0
