build==1.0.3
mypy==1.7.1
networkx==2.8.8
phir==0.1.6
pre-commit==3.5.0
pydata_sphinx_theme==0.14.4
pytest==7.4.3
pytket-quantinuum==0.26.0
pytket==1.22.0
ruff==0.1.6
setuptools_scm==8.0.4
sphinx==7.2.6
wheel==0.42.0
